# Google Cloud SDK
google-cloud-aiplatform
google-cloud-dlp
google-cloud-logging
google-cloud-secret-manager

# Vertex AI Generative Models
vertexai

# AWS SDK
boto3
botocore

# Data Processing
pandas
numpy
scipy
scikit-learn
ipywidgets
cryptography
gcsfs

# Logging
logging

# Data Validation
pydantic

# Pipeline
kfp

# Snowflake Connector
snowflake-connector-python

# Hugging Face Transformers for NLP & Sentiment Analysis
transformers
torch
